.movie-card {
  border-color: #0020C2;
  margin-top: 10px; 
  margin-bottom: 10px;
}

.card-poster {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
