.login-view {
  justify-content: center;
  margin-top: 10px;
}

.submit-button {
  align-self: center;
  margin-top: 10px;
}

.register-button {
  justify-content: center;
  margin-top: 10px;
}
